</div>
</body>
<script>
  // Delay page display until 100 ms after the page fully loads to prevent white flash in dark mode
  // It still happens, but much more rarely now
  window.onload = function () {
      setTimeout(function() {
          document.getElementById("body").style.display = ""
      }, 100)
  }
</script>
</html>