/* resets */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
  list-style: none;
	outline-style: none;
}

/* Dark Theme */

body.dark {
  background-color: #292929;
  color: #e2e2e2;
}

#wrapper.dark {
  background-color: #121212;
}

nav.dark {
  background-color: #e2e2e2;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

header {
  display: flex;
  flex-direction: column;
  width: 80%;
  left: 10px;
  top: 5px;
}

h1 {
  text-align: center;
}

#wrapper {
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  padding: 0;
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .125rem solid black;
  border-radius: 15%;
  min-height: 2em;
  min-width: 2em;
}

nav li button {
  width: 100%;
  height: 100%;
  background-color: white;
}

nav a {
  padding-left: 5px;
  padding-right: 5px;
  color: inherit;
}

nav li:hover {
  background-color: #999;
}

nav li button:hover {
  background-color: #999;
}

#chapter-num {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.synopsis {
  width: 80%;
  text-align: center;
  margin-bottom: 2em;
}

section{
  display: flex;
  flex-direction: column;
  margin: auto;
}

#content {
  display: flex;
  width: 80%;
  margin-top: 2rem;
  padding-bottom: 10px;
}

#content p {
  text-indent: 1.5em;
  margin-bottom: 1em;
}