<%- include('../templates/header.ejs') %>
  <section id="content">
    <p id="home">An english translation of Homer's epic poem.</p>
    <img src="/images/cover.jpg">
  </section>
  <%- include('../templates/footer.ejs') %>